.tableWrapper{
  padding-top: 8%;
  background-image:url("../resources/images/bg.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .tableWrapper{
    padding-top: 15%;
  }
}

.atHeader{
  font-size: 1.5em;
  margin-bottom: 2%;
}

#ath{
  color: white;
}