.mainWrapper {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}
/*----*/
.mainimg{
  position:relative;
  text-align:center;
  color:white;
  background-image:url("../resources/images/bh4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:100vh;
}

.mainHeader{
  padding-top: 25vh;
}

.h1{
  color: rgb(255, 255, 255) !important;
  font-family:'Montserrat', sans-serif;
  text-decoration:none;
  font-size: 8vh;
}
.h2{
  color: white !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration:none;
  font-size:3.1vh;
  font-weight: 300;
  padding-top: 1vh;
}
.date{
  color: white !important;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration:none;
  font-size:3.1vh;
  font-weight: 300;
}

.start{
  color:white;
  cursor:pointer;
  z-index:1;
  transform:translate(-50%, -50%);
  top:50%;
  right:50%;
  color:white;
  /*scroll-behavior: smooth;*/
}

/*bouncing arrow*/
@bg: #2d2d37; /* Dark blue */
@primary: #fd6b21; /* Orange*/

body { background: @bg;}
.fa-arrow-down { color: white; text-decoration: none; }

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* -------- speakers page ------ */
.about{
  margin: 6% 7% 5% 7%;
  font-size:2em;
  background-image:url("../resources/images/wma.png");
  background-repeat: no-repeat;
  background-position: center;
}

.desp{
  font-size: 20px;
  text-align: justify;
}
.speaker {
  border-style:none;
  padding-top: 4%;
  width: 100%;
  height: auto;
}

#esh{
  font-size: 2em;
  text-align: center;
}

.td{
  text-align: right;
}

.footer{
  background-color: rgb(7, 7, 7);
  font-size:30px;
  width:100%;

  color: white;
  padding-left: 10%;
  padding-top:2em;
  text-align: left;
}
.ctext{
  font-size:10px;
}
.logo{
  background-color:rgb(0, 0, 0);
}

#divi{
  border-top: 0.5% dashed white;
}

#contact{
  color: white;
}

@media only screen and (max-width: 600px) {
  .h1{
    font-size: 38px;
  }
  .h2{
    font-size: 20px;
  }
  .date{
    font-size: 18px;
  }
  #ba{
    font-size: 18px;
  }
  .about{
    font-size: 1.5em;
    background-image: none;
  }
  #esh{
    font-size: 1.5em;
  }
}